html {
    padding: 30px;
}

/*********** Main *************/

.guide {
    font-size: large;
    background-color: lightgray;
    margin: 30px 0px;
}

main h1{
    font-size: 50px;
    background-color: #508D3F;
    text-align: center;
    padding: 30px 0px;
    text-decoration: Ad Lib;
}

/************ Navigation ************/
.navbar {
    overflow: hidden;
    background-color: #c5c5c5;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #7e7e7e;
}

/************ Footer ***********/
footer {
    background-color: #508D3F;
    text-align: center;
    padding: 20px 0px;
    font-style: Ad Lib;
}